-- MySQL dump 10.13  Distrib 8.0.46, for Win64 (x86_64)
--
-- Host: localhost    Database: pokemon_analytics
-- ------------------------------------------------------
-- Server version	8.0.46

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `battle`
--

DROP TABLE IF EXISTS `battle`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `battle` (
  `battle_id` varchar(50) NOT NULL,
  `format` varchar(100) DEFAULT NULL,
  `format_id` varchar(100) DEFAULT NULL,
  `upload_time` bigint DEFAULT NULL,
  `rating` int DEFAULT NULL,
  `winner_player_id` bigint DEFAULT NULL,
  `replay_path` varchar(500) DEFAULT NULL,
  `turn_count` int DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`battle_id`),
  KEY `idx_format` (`format_id`),
  KEY `idx_rating` (`rating`),
  KEY `idx_upload_time` (`upload_time`),
  KEY `fk_battle_winner` (`winner_player_id`),
  CONSTRAINT `fk_battle_winner` FOREIGN KEY (`winner_player_id`) REFERENCES `players` (`player_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `battle_faint`
--

DROP TABLE IF EXISTS `battle_faint`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `battle_faint` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `battle_id` varchar(50) NOT NULL,
  `turn_no` int DEFAULT NULL,
  `pokemon_name` varchar(100) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_bf_pokemon` (`pokemon_name`),
  KEY `fk_bf_battle` (`battle_id`),
  CONSTRAINT `fk_bf_battle` FOREIGN KEY (`battle_id`) REFERENCES `battle` (`battle_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `battle_ko`
--

DROP TABLE IF EXISTS `battle_ko`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `battle_ko` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `battle_id` varchar(50) NOT NULL,
  `turn_no` int DEFAULT NULL,
  `killer_pokemon` varchar(100) DEFAULT NULL,
  `victim_pokemon` varchar(100) DEFAULT NULL,
  `move_name` varchar(100) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_bko_killer` (`killer_pokemon`),
  KEY `idx_bko_victim` (`victim_pokemon`),
  KEY `fk_bko_battle` (`battle_id`),
  CONSTRAINT `fk_bko_battle` FOREIGN KEY (`battle_id`) REFERENCES `battle` (`battle_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `battle_move`
--

DROP TABLE IF EXISTS `battle_move`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `battle_move` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `battle_id` varchar(50) NOT NULL,
  `turn_no` int NOT NULL,
  `player_id` bigint DEFAULT NULL,
  `pokemon_name` varchar(100) DEFAULT NULL,
  `move_name` varchar(100) DEFAULT NULL,
  `target_name` varchar(100) DEFAULT NULL,
  `success` tinyint(1) DEFAULT '1',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_bm_battle` (`battle_id`),
  KEY `idx_bm_turn` (`turn_no`),
  KEY `idx_bm_pokemon` (`pokemon_name`),
  KEY `idx_bm_move` (`move_name`),
  CONSTRAINT `fk_bm_battle` FOREIGN KEY (`battle_id`) REFERENCES `battle` (`battle_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `battle_players`
--

DROP TABLE IF EXISTS `battle_players`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `battle_players` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `battle_id` varchar(50) NOT NULL,
  `player_id` bigint NOT NULL,
  `side` enum('p1','p2') DEFAULT NULL,
  `rating_before` int DEFAULT NULL,
  `rating_after` int DEFAULT NULL,
  `result` enum('WIN','LOSS') DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_bp_battle` (`battle_id`),
  KEY `idx_bp_player` (`player_id`),
  CONSTRAINT `fk_bp_battle` FOREIGN KEY (`battle_id`) REFERENCES `battle` (`battle_id`),
  CONSTRAINT `fk_bp_player` FOREIGN KEY (`player_id`) REFERENCES `players` (`player_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `battle_switch`
--

DROP TABLE IF EXISTS `battle_switch`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `battle_switch` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `battle_id` varchar(50) NOT NULL,
  `turn_no` int DEFAULT NULL,
  `player_id` bigint DEFAULT NULL,
  `pokemon_name` varchar(100) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_bs_battle` (`battle_id`),
  KEY `idx_bs_pokemon` (`pokemon_name`),
  CONSTRAINT `fk_bs_battle` FOREIGN KEY (`battle_id`) REFERENCES `battle` (`battle_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `battle_teams`
--

DROP TABLE IF EXISTS `battle_teams`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `battle_teams` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `battle_id` varchar(50) NOT NULL,
  `player_id` bigint NOT NULL,
  `pokemon_name` varchar(100) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_bt_battle` (`battle_id`),
  KEY `idx_bt_pokemon` (`pokemon_name`),
  KEY `fk_bt_player` (`player_id`),
  CONSTRAINT `fk_bt_battle` FOREIGN KEY (`battle_id`) REFERENCES `battle` (`battle_id`),
  CONSTRAINT `fk_bt_player` FOREIGN KEY (`player_id`) REFERENCES `players` (`player_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `matchup`
--

DROP TABLE IF EXISTS `matchup`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `matchup` (
  `attacker` varchar(100) NOT NULL,
  `defender` varchar(100) NOT NULL,
  `battles` bigint DEFAULT '0',
  `wins` bigint DEFAULT '0',
  `winrate` decimal(5,2) DEFAULT NULL,
  PRIMARY KEY (`attacker`,`defender`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `matchup_stats`
--

DROP TABLE IF EXISTS `matchup_stats`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `matchup_stats` (
  `attacker_id` int NOT NULL,
  `defender_id` int NOT NULL,
  `battles` int DEFAULT NULL,
  `wins` int DEFAULT NULL,
  `winrate` float DEFAULT NULL,
  PRIMARY KEY (`attacker_id`,`defender_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `team_synergy`
--

DROP TABLE IF EXISTS `team_synergy`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `team_synergy` (
  `pokemon_1` varchar(100) NOT NULL,
  `pokemon_2` varchar(100) NOT NULL,
  `battles` bigint DEFAULT '0',
  `wins` bigint DEFAULT '0',
  `winrate` decimal(5,2) DEFAULT NULL,
  PRIMARY KEY (`pokemon_1`,`pokemon_2`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-06-09 10:55:40
